header{
    margin-top:110px;
    overflow-x:hidden;
}
/* Registration Form */
.registration-form{
    position:absolute;
    top:100%;
    left:50%;
    transform:translate(-50%,-50%); 
    color:black;
}
.registration-form label{
    font-weight:600;
    color:black;
    font-size:15px;
}
.registration-step{
    height:40px;
    width:40px;
    text-align:center;
    line-height:40px;
    background:linear-gradient(#0abde3,#48dbfb);
    border-radius:50%;
    font-size:16px;
    color:white;
    display:inline-block;
}

/* Details section */
.personal-loan-detail,
.home-loan-details,
.car-finance-detail,
.mortgage-loan-detail{
    padding-top:150px;
    background:#eee;
    color:black;
}

/* Personal Loans Page */
#header-personal-loans{
    height:120vh;
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url('../../Images/first_carousel/fourth.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}

/* Header Loan Section */
#header-personal-loans:after,
#header-home-loans:after,
#header-car-loans:after,
#header-mortgage-loans:after,
#header-re-finance-car-loans:after{
    content:'';
    margin-top:110px;
    height:120vh;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    clip-path: polygon(0 85%, 0% 100%, 100% 100%);
    background:#eee;
}
#header-personal-loans .container,
#header-home-loans .container,
#header-car-loans .container,
#header-mortgage-loans .container,
#header-re-finance-car-loans .container,
#section-personal-eligible{
    padding-top:50px;
    padding-bottom:50px;
    color:white;
}
/* Home Loan Page */
#header-home-loans{
    height:120vh;
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,url('../../Images/Home_background.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
/* Car Loan Page */
#header-car-loans{
    height:120vh;
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,url('../../Images/car_background.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
/* Mortage Loan Page */
#header-mortgage-loans{
    height:120vh;
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,url('../../Images/mortgage_background.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:fixed; 
}
/* Re-finance Car Loan */
#header-re-finance-car-loans{
    height:120vh;
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,url('../../Images/re-finance_loan_background.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}

/* Eligible Registered */
.registration-form2{
    color:black;
}
.registration-form2 label{
    font-weight:600;
    color:black;
    font-size:15px;
}